.footer{
    &__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-info{
            display: flex;
            justify-content: space-around;
        }
        &-img{
            width: 100%;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-describe{
            color: #4C4845;
            font-size: 18px;
        line-height: 24px;
        font-family: 'PlayfairDisplay-Italic';
        margin-bottom: 53px;
        font-weight: 400;
        }
        &-title{
            color:$header-color;
            font-size: 42px;
            line-height: 42px;
            margin-top: 15px;
            font-family: 'TimesNewRomanRegular';
            font-weight: 500;
        }
        &-title::after{
            display: block;
            content: '';
            width: 190px;
      height: 2px;
      background: $header-color;
      margin: 10px 0;
        }
        }
        &__emblems{
            display: flex;
            flex-direction: column;
            &-img{
                margin: 25px 0 ;
            }
        }
        &__contact{
            &-title{
                margin-bottom: 20px;
                font-size: 20px;
                line-height: 25px;
                color: $black;
                font-family: 'PlayfairDisplay-Regular';
                font-weight: 400;
            }
            &-numbers{
                font-size: 16px;
                line-height: 20px;
                color: $black;
                font-family: 'PlayfairDisplay-Regular';
                font-weight: 400;
                margin-bottom: 10px;
        }
    }
        &__location{
            &-title{
                margin-bottom: 20px;
                font-size: 20px;
                line-height: 25px;
                color: $black;
                font-family: 'PlayfairDisplay-Regular';
                font-weight: 400;
            }
            &-addres{
                font-size: 16px;
                line-height: 20px;
                color: $black;
                font-family: 'PlayfairDisplay-Regular';
                font-weight: 400;

            }
            }
        }