.header{
    margin-bottom: -4px;
&__content-img{
    width: 100%;
}
&__content-picture{
 position: relative;       
}
&__content-info{
    position: absolute;
    top: 0;
    width: 100%;
}
&__content-about{
        display: flex;
        justify-content: space-between;
        margin: 50px 50px 0 50px;
        align-items: center;
}

&__info{  
  // display: none;
  position: absolute;
  background: white;
  top: 0;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -290px;
  transition: 0.5s;
      &.active{
        left: 0;
    
  
   
      }
  

    &-text{
        color: $white;
          border: 1px solid $white;
          padding: 15px 90px;
          display: inline-block;
          cursor: pointer;
  }
  &-title{
    color: #B38934;
    font-size: 42px;
    line-height: 42px;
    margin-top: 15px;
    font-family: 'TimesNewRomanRegular';
  }
  &-title::after{
      display: block;
      content: '';
      width: 190px;
height: 2px;
background: #B38934;
margin: 10px 0;
  }
  &-describe{
    color: #4C4845;
    font-size: 18px;
line-height: 24px;
font-family: 'PlayfairDisplay-Italic';
margin-bottom: 53px;
  }
  &-link{
      color: $black;
      font-size: 20px;
      line-height: 55px;
      font-family: 'PlayfairDisplay-Regular';
  }
//   &-link:last-child{
//       padding-bottom: 50px;
//   }
  
}
}