@media(max-width:1500px){
.main__right{
    flex-wrap: wrap;
    padding: 60px 40px;
    &-monday{
        margin-bottom: 30px;  
    }
    &-monday::after{
        content: '';
        display: block;
        width: 80%;
        border: 1px solid #000000;
        margin-top: 20px;
    }
}
.main__menu{
    grid-template-columns: none;
}
}
@media(max-width:1300px){
.main__items-title{
    padding: 0 ;
}
}
@media(max-width:1200px){
    .main__theme-title{
        font-size: 32px;
        line-height: 40px;
    }
    .main__items-events, .main__items-menu, .main__items-us{
        display: block;
    }
    .main__event-about{
        align-items: center;
        text-align: center;
    }
    .main__us-about, .main__menu-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main__items-events{
        display: none;
        &_2{
            display: block;
        }
    }
    .footer__content{
        grid-template-columns: none;
        &-info{
            margin-top: 50px;
        }
    }
    .main__items-btn{
        margin: 30px 0;
    }
    .main__items-title{
        margin: 20px 0;
    }
    .main__kitchen-picture{
        width: 100%;
    }
    .main__kitchen{
        display: block;
    }
    .main__kitchen-picture.active {
        width: 100%;
    }
    .main__kitchen-about{
        opacity: 1;
    }
    
}
@media(max-width:950px){
.main{
    &__section-record{
        display: flex;
        flex-direction: column;  
    }
    &__left{
        order: -1;
        padding-bottom: 30px;
    }
    &__right{
        flex-wrap: nowrap;
        &-monday::after{
            display: none;
        }
        &-input{
            width: 60%;
        }
    }
    &__theme-title{
        font-size: 23px;
        line-height: 20px;
        padding-left: 20px;
    }
    
}
}
@media(max-width:700px){
    .header{
        &__content-about{
            flex-direction: column;
            justify-content: center;
            margin-top: 20px;
        }
        &__content-picture{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__info{
            top: -450px;
            &-describe{
                margin-bottom: 10px;
            }
            &-text{
                margin-top: 30px;
            }
            &-emblems{
                margin-top: 20px;
            }
            &-language{
                margin-top: 20px;
            }
            &-list{
                display: flex;
                flex-wrap: wrap;
            }
            &-link{
                margin-right: 20px;
            }
            &.active{
                width: 100%;
                height: max-content;
                align-items: flex-start;
                justify-content: flex-start;
                padding-top: 0;
                top: 0;
            }
        }
    }
    .main{
        &__theme-first:last-child{
            display: none;
        }
        &__section-theme{
            grid-template-columns: none;
        }
        &__right{
            flex-wrap: wrap;
        }
    }
    .footer{
        &__content-info{
            display: block;
        }
        &__emblems{
            flex-direction: row;
            justify-content: center;
            &-img{
                margin:25px 30px ;
            }
        }
        &__contact{
            display: flex;
            flex-wrap: wrap;
            &-title, &-numbers{
                margin-right: 20px;
            }
        }
        &__location{
            display: flex;
            flex-wrap: wrap;
            &-title{
                margin-right: 30px;
                margin-top: 20px;
            }
            &-addres{
                margin-bottom: 40px;
            }
        }
        &__info-describe{
            margin-bottom: 20px;
        }
    }
}