header.header
    .header__content 
        img(src="./images/header-bg.webp", alt="").header__content-img
        .header__content-info
            .header__content-about 
                a(href="")
                    img(src="./images/burger.svg" alt="").header__info-img  
                a(href="").header__info-text RESERVATION
            .header__info  
                img(src="./images/logo.webp" alt="")  
                h2.header__info-title LA PERLE
                h5.header__info-describe French gourmet   
                ul 
                    li: a(href="thirdIndex.pug").header__info-link MENU 
                    li: a(href="./secondIndex.pug").header__info-link ABOUT 
                    li: a(href="").header__info-link RESERVATIONS 
                    li: a(href="").header__info-link NEWS 
                    li: a(href="").header__info-link EVENTS 
                    li: a(href="").header__info-link CAREERS 
                    li: a(href="").header__info-link CONTACT 
                .header__info-emblems
                    img(src="./images/meta.svg" alt="")
                    img(src="./images/insta.svg" alt="").header__emblems-img
                    img(src="./images/tg.svg", alt="")
                    p.header__info-language EN/RU


