main.main 
    .main__items    
        .main__items-menu
            img(src="./images/picture_1.webp", alt="").main__items-img
            .main__menu-about
                h3.main__items-title MENU
                p.main__items-describe Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                a(href="").main__items-btn READ MORE 
        .main__items-events
            .main__event-about
                h3.main__items-title EVENTS
                p.main__items-describe Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas purus velit interdum augue. Amet diam diam ultrices ut tincidunt. Risus semper sit mauris, vitae. Vel arcu bibendum accumsan, lacinia nisl.
                a(href="").main__items-btn READ MORE
            img(src="./images/picture_2.webp", alt="").main__items-img
        .main__items-us
            img(src="./images/picture_3.webp", alt="").main__items-img
            .main__us-about
                h3.main__items-title ABOUT US
                p.main__items-describe Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                a(href="").main__items-btn READ MORE 

    .main__section-theme 
        .main__theme-first 
            img(src="./images/picture_4.webp", alt="").main__theme-img
            .main__theme-forText
                h2.main__theme-title VALENTINE’S DAY
        .main__theme-first 
            img(src="./images/picture_5.webp", alt="").main__theme-img
            .main__theme-forText
                h2.main__theme-title ENJOY 25% OFF DINNER 
        .main__theme-first 
            img(src="./images/picture_6.webp", alt="").main__theme-img
            .main__theme-forText
                h2.main__theme-title FISH TARTARE WITH WASABI
        .main__theme-first 
            img(src="./images/picture_7.webp", alt="").main__theme-img
            .main__theme-forText
                h2.main__theme-title RESTAURANT REVIEW
        .main__theme-first 
            img(src="./images/picture_8.webp", alt="").main__theme-img
            .main__theme-forText
                h2.main__theme-title MOTHER’S DAY
        .main__theme-first
            h2.main__theme-title.tit CONTINUE READING OUR NEWS HERE
    .main__section-record   
        .main__right
            form(action="submit")
                    input(type="text" placeholder="Date" required).main__right-input
                    input(type="text" placeholder="How many people" ).main__right-input
                    input(type="text" placeholder="Your name" ).main__right-input
                    p.main__right-monday Monday - Sunday ; 09:00 - 02:00
            .main__right-weeks  
            form(action="") 
                input(type="text" placeholder="Time"  required).main__right-input
                input(type="text" placeholder="Special wishes" required ).main__right-input
                input(type="text" placeholder="Your phone"  required).main__right-input
                button(type="submit").main__right-btn RESERVATION  
        .main__left     
            h2.main__left-title  RESERVE A TABLE
            p.main__left-describtion Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
            p.main__left-describe Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.
            