main.main 
    .main__kitchen
        img(src="./images/about-picture_1.webp", alt="").main__kitchen-img
        .main__kitchen-picture 
            img(src="./images/about-picture_2.webp", alt="").main__kitchen-img 
            h2.main__kitchen-title KITCHEN
            a.main__kitchen-btn(href="") MORE
        img(src="./images/about-picture_3.webp", alt="").main__kitchen-img
        img(src="./images/about-picture_4.webp", alt="").main__kitchen-img
    .main__section-record   
        .main__right
            form(action="submit")
                    input(type="text" placeholder="Date" required).main__right-input
                    input(type="text" placeholder="How many people" ).main__right-input
                    input(type="text" placeholder="Your name" ).main__right-input
                    p.main__right-monday Monday - Sunday ; 09:00 - 02:00
            .main__right-weeks  
            form(action="") 
                input(type="text" placeholder="Time"  required).main__right-input
                input(type="text" placeholder="Special wishes" required ).main__right-input
                input(type="text" placeholder="Your phone"  required).main__right-input
                button(type="submit").main__right-btn RESERVATION 
        .main__left     
            h2.main__left-title  RESERVE A TABLE
            p.main__left-describtion Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
            p.main__left-describe Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.            
        