main.main 
    section.main__menu
        img(src="./images/menu_1.webp", alt="").main__menu-img  
        .main__menu-all
            h3.main__menu-title 1 st
            .main__menu-allMenu
                .main__menu-first
                    h5.main__menu-text CITRUS SALAD
                    p.main__menu-describe Oro Blanco, Salty Sea Feta  Calamansi Vinaigrette ...................................................................... 18$
                .main__menu-first
                    h5.main__menu-text  CHILLED WHITE ASPARAGUS
                    p.main__menu-describe Baby Lettuces, Mussel Broth  Calabrese Chili................................................................................. 21$
                .main__menu-first
                    h5.main__menu-text FOIE GRAS TERRINE
                    p.main__menu-describe Rabbit, Carrots Brioche................................................................................................... 25$
                .main__menu-first
                    h5.main__menu-text BUCATINI
                    p.main__menu-describe Butter, Chili, Mussel Broth  Bottarga ...................................................................................... 15$
                .main__menu-first
                    h5.main__menu-text CHAWANMUSHI
                    p.main__menu-describe Mushrooms, Jalapeño, Radish  Scallions....................................................................................... 17$
                .main__menu-first
                    h5.main__menu-text MATZAH BALL SOUP
                    p.main__menu-describe Poached Matzah Ball, Chicken Broth  Winter Vegetable............................................................. 27$
    section.main__menu
        img(src="./images/menu_2.webp", alt="").main__menu-img  
        .main__menu-all
            h3.main__menu-title 2 nd
            .main__menu-allMenu
                .main__menu-first
                    h5.main__menu-text POACHED COD
                    p.main__menu-describe Root Spinach, Bonji  Shellfish Beurre Blanc................................................................................. 35$
                .main__menu-first
                    h5.main__menu-text  BROWN BUTTER BASTED TURBOT
                    p.main__menu-describe Terrine of  Winter Carrots Cardamom, Carrot Citrus Emulsion ............................................. 37$

                .main__menu-first
                    h5.main__menu-text SQUAB EN CROUTE

                    p.main__menu-describe Braised Shallots, Wild Mushrooms Foie Gras.............................................................................. 35$

                .main__menu-first
                    h5.main__menu-text CRESCENT FARM DUCK
                    p.main__menu-describe Confit Leg, Satsuma  Red Peshori Pistacio................................................................................. 33$

                .main__menu-first
                    h5.main__menu-text SNAKE RIVER WAGYU COULOTTE

                    p.main__menu-describe Turnips, Beets, Horseradish  Borscht Sauce................................................................................ 45$
                .main__menu-first
                    h5.main__menu-text MILLBROOK VENISON SADDLE
                    p.main__menu-describe Beluga Lentils, Braised Cabbage  Mushroom Cacciatore........................................................... 50$

    section.main__menu
        img(src="./images/menu_3.webp", alt="").main__menu-img  
        .main__menu-all
            h3.main__menu-title 3 nd
            .main__menu-allMenu
                .main__menu-first
                    h5.main__menu-text OLIVE OIL CAKE
                    p.main__menu-describe Satsuma Riesling Sabayon.............................................................................................................. 21$
                .main__menu-first
                    h5.main__menu-text  APPLE TARTE TATIN
                    p.main__menu-describe Ginger Ice Cream  Miso .................................................................................................................... 17$
                .main__menu-first
                    h5.main__menu-text SWEET POTATO CRÈME CARAMEL
                    p.main__menu-describe Rabbit, Carrots Brioche................................................................................................... 25$
                .main__menu-first
                    h5.main__menu-text BROOKLYN BLACKOUT
                    p.main__menu-describe Butter, Chili, Mussel Broth  Bottarga ...................................................................................... 15$
                .main__menu-first
                    h5.main__menu-text WARM DATE CAKE
                    p.main__menu-describe Mushrooms, Jalapeño, Radish  Scallions....................................................................................... 17$
                .main__menu-first
                    h5.main__menu-text FOUR FAT FOWL (NY)
                    p.main__menu-describe Poached Matzah Ball, Chicken Broth  Winter Vegetable............................................................. 27$
    .main__section-record   
        .main__right
            form(action="submit")
                    input(type="text" placeholder="Date" required).main__right-input
                    input(type="text" placeholder="How many people" ).main__right-input
                    input(type="text" placeholder="Your name" ).main__right-input
                    p.main__right-monday Monday - Sunday ; 09:00 - 02:00
            .main__right-weeks  
            form(action="") 
                input(type="text" placeholder="Time"  required).main__right-input
                input(type="text" placeholder="Special wishes" required ).main__right-input
                input(type="text" placeholder="Your phone"  required).main__right-input
                button(type="submit").main__right-btn RESERVATION 
        .main__left     
            h2.main__left-title  RESERVE A TABLE
            p.main__left-describtion Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
            p.main__left-describe Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.            
        


